<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
    <meta name="theme-color" content="#f15273">
    <title>
        <%= title %>
    </title>
    <% if (blog) { %>
        <% if (blog.thumbnail) { %>
            <meta property="og:image" content="data:image/png;base64, <%= coverImg %>" />
            <% } %>
                <% } %>
                    <link rel="stylesheet" href="/public/css/styles.css">
</head>