<!DOCTYPE html>
<html lang="en">

<%-include('../components/head.ejs')%>

    <body style="background-color: #f15273;">
        <div class="four-four">
            <h1>
                <%= msg %>
            </h1>
            <a href="/" id="home">Home</a>
        </div>
    </body>

</html>