<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
        <meta name="theme-color" content="#f15273">
        <title><%= title %> </title>
        <meta property="og:description" content="Primer Blog about page. It is described about the Primer Blog website.">
        <meta property="og:image" content="https://cdn.pixabay.com/photo/2019/09/17/18/48/computer-4484282_640.jpg" />
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <div>
            <%- include('../components/navbar.ejs') %>
                <div id="about">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur accusamus dolor rem magnam
                        est officia odio dignissimos suscipit aliquam iure cumque voluptas porro enim tempora dolore
                        vero, explicabo fugit sed soluta sequi assumenda consequatur deserunt. Deleniti non nam corporis
                        architecto totam labore vel adipisci suscipit. Porro soluta repellat omnis ratione quam
                        perferendis magni delectus eos similique ipsum! Labore fuga deserunt optio ducimus vitae
                        assumenda dolore facere iusto sequi quis, nisi et. Quisquam veritatis adipisci aut accusamus
                        similique aliquid neque id blanditiis soluta nihil voluptatum ducimus perferendis, accusantium
                        repellat fuga totam quaerat architecto esse voluptatem, itaque maiores molestias. Doloremque,
                        accusantium odit.

                    </p>
                </div>
        </div>
        <%- include('../components/footer.ejs') %>

    </body>

</html>