<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/favicon.svg" type="image/x-icon">
        <meta name="theme-color" content="#f15273">
        <title><%= title %> </title>
        <meta property="og:description" content="Primer Blog create page. From here, blog post can be created. ">
        <meta property="og:image" content="https://cdn.pixabay.com/photo/2019/09/17/18/48/computer-4484282_640.jpg" />
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <div>
            <%- include('../components/navbar.ejs') %>
                <div>
                    <form action="/blogs" method="POST">
                        <label for="title">Title: </label>
                        <input type="text" id="title" name="title" required>
                        <label for="snippet">Snippet: </label>
                        <input type="text" id="snippet" name="snippet" required>
                        <label for="body">Body: </label>
                        <textarea name="body" id="body" cols="30" rows="10" required></textarea>
                        <button>Post</button>
                    </form>
                </div>
        </div>
        <%- include('../components/footer.ejs') %>

    </body>

</html>